<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Smoke Test Suite">

    <!--hfahlkhfkjahfkjlahfkj-->
    <test name="UI test">

        <classes>
            <class name="test.BasicDemo"></class>
            <class name="test.AnnotationsDemo"></class>
        </classes>
    </test>


</suite>